.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

/* Main Page */
.main-page
{
  display: flex;
  flex-direction: column;
}

.menu
{
  display: flex;
  justify-content: center;
}

/* Music Page */
.music-page
{
  display: flex;
  flex-direction: column;
}

.music-content
{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Initial design with centered menu */
.design-menu-centered {
  display: flex;
  justify-content: center;
  
}

/* Split-screen layout for side-by-side menu and content */
.split-screen {
  display: flex;
  height: 100vh;
}

.split-screen .design-menu {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 30%;
  flex-direction: column;
}
.split-screen .design-content {
  flex: 1;
  padding: 20px;
}

.image-grid{
  column-gap: 5px;
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  break-inside: avoid;
}

.design-menu-centered div
{
  flex-direction: row;
  display: flex;
}
